.container{
    border:3px solid green;
    height:700px;
    width:600px;
    padding: 5px;
    margin: auto;
}
input{
    padding: 10px;
    margin: 10px;
    
}
h1{
    color:red;
    text-align: center;
    text-decoration: underline;
}
.gap{
    padding: 10px;
}
.gap1{
    padding: 10px;
}
button{
    float: right;
}
